/* Gradient Bar Styling */
.gradient-bar {
    width: 100%;
    min-height: 80px;
    background: #B2560D;
    background-size: 300% 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    margin: 30px 0;
  }
  
  /* Gradient Animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .nav-headline {
    font-size: 30px !important; 
    font-weight: bold;
    color: #FFE4B5 !important;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px !important;
  }
  
  @media (min-width: 768px) {
    .nav-headline {
      font-size: 40px !important;
      padding: 10px 10px !important;
    }
    .gradient-bar {
      min-height: 110px;
    }
  }

  /* Button Styling */
  .nav-button {
    font-size: 18px !important;
    font-weight: bold;
    color: #FFE4B5 !important;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  @media (min-width: 1024px) {
    .nav-button {
      font-size: 25px !important;
      height: 70px;
    }
  }

  /* Hover Effects */
  .nav-button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fffbe6;
    border-color: #fffbe6;
  }